<div class="w-full h-80 rounded-lg  bg-gray-200 flex flex-col">
  <div class="w-full h-64 flex overflow-hidden">
    <% if blog_post.banner_image.attached? %>
      <%= image_tag blog_post.banner_image, class: "h-full w-full object-cover rounded-t-lg" %>
    <% else %>
      <%= image_tag "books.jpg", class: "h-full w-full object-cover rounded-t-lg" %>
    <% end %>
  </div>
  <div class="h-6 flex-shrink-0 w-full px-4 overflow-hidden font-semibold">
    <p class="text-x1 text-gray-900">
      <%= blog_post.title %>
    </p> 
  </div>

  <div class="w-full h-27 flex items-center px-4">
    <%= link_to "Ler post", blog_post, class: "px-5 py-2 rounded-lg bg-gradient-to-r from-violet-500 to-violet-500 via-violet-500 text-blue-50 hover:scale-105" %>
  </div>
</div>